@page "/repair"
@using QBD2.Models
@using QBD2.Services
@using QBD2.Entities
@inject IToastService toastService
@inject NavigationManager NavigationManager
@inject RepairService RepairService
@inject PartService PartService
@inject GLCodeService GLCodeService
@inject PartStatusService PartStatusService
@inject FailureCodeService FailureCodeService

<h3>Repair</h3>
@if (AddParts == null)
{
     <TelerikGrid Data="@GridData"
             Pageable="true"
             Sortable="true"
             FilterMode="@GridFilterMode.FilterRow">
        <GridToolBar>
            <TelerikButton Icon="add" OnClick="(() => SelectRecord(null))">Add new Repair</TelerikButton>
        </GridToolBar>
        <GridColumns>
            <GridColumn Field="@(nameof(Entities.Repair.UpdateDate))" Title="Update Date" DisplayFormat="{0:dd-MM-yyyy}"/>
            <GridColumn Field="@(nameof(Entities.Repair.Description))" Title="Description" Filterable="false"/>
            <GridColumn Field="@(nameof(Entities.Repair.PartSerialNumber))" Title="Serial Number" Filterable="false"/>
            <GridCommandColumn Width="150px">
                 <GridCommandButton Icon="edit" OnClick="@((args)=> SelectRecord(args.Item as Entities.Repair))"></GridCommandButton>
                 <GridCommandButton Command="Delete" Icon="delete" OnClick="@((args)=> DeleteRecord(args.Item as Entities.Repair))"></GridCommandButton>
            </GridCommandColumn>
        </GridColumns>
    </TelerikGrid>
}

@if (AddParts != null)
{
    <br/>
<div class="form-group row">
    <div class="col-sm-7">
        <div class="row">

            <div class="col-sm-7">
                <TelerikTextBox id="txtSerialSearch" Class="form-control col-sm-12" @bind-Value="SerialNumber"></TelerikTextBox>
            </div>
            <div class=" col-sm-1">
                <TelerikButton id="btnSearch" OnClick="@btnFindOnClick" ButtonType="@ButtonType.Submit">Find</TelerikButton>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-sm-6">
                <label class="col-sm-2 col-form-label">Family :</label>
                <label id="lblDescValue" class="col-sm-7 col-form-label">@(dataRepairModel !=null ? dataRepairModel.Family:string.Empty)</label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <label class="col-sm-2 col-form-label">Desc :</label>
                <label id="lblDescValue" class="col-sm-7 col-form-label">@(dataRepairModel !=null ? dataRepairModel.Description:string.Empty)</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <label class="col-sm-3 col-form-label">Part Number :</label>
                <label id="lblPartNumberValue" class="col-sm-7 col-form-label">@(dataRepairModel !=null ? dataRepairModel.PartNumber:string.Empty)</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <label class="col-sm-3 col-form-label">Serial Number :</label>
                <label id="lblSerialNumberValue" class="col-sm-7 col-form-label">@(dataRepairModel !=null ? dataRepairModel.SerialNumber:string.Empty)</label>
            </div>
        </div>
    </div>
      
    <div class=" col-sm-5">
        <h6>History</h6>
       <TelerikGrid Data="@MyData"
        Pageable="true" Sortable="true"
        Resizable="true">
        <GridColumns>
              <GridColumn Field="@(nameof(Models.Parts.SerialNumber))" Title="Serial Number" Groupable="false" Width="200px"/>
              <GridColumn Field="@(nameof(Models.Parts.UpdateDate))" Title="Date Updated" Groupable="false" Width="70px">
                    <Template>
                          @{
                              var parts = context as Models.Parts;
                              if (parts != null && !parts.UpdateDate.Equals(DateTime.MinValue))
                              {
                                  @parts.UpdateDate.ToString("dd/MM/yyyy @ h:mm")
                              }
                          }
                    </Template>
              </GridColumn>
              <GridCommandColumn Width="30px">
              <GridCommandButton Icon="eye" OnClick="@((args)=> btnHistoryGridEyeOnClick(args.Item as Models.Parts))"></GridCommandButton>
              </GridCommandColumn>
        </GridColumns>
      </TelerikGrid>
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-12">
        <EditForm EditContext="@ECAddPart">
        <DataAnnotationsValidator />

        <div class="row">

            <div class="col-md-3">
                <div class="form-group row">
                    <div class="row">
                        <label for="PartNumber" class="col-sm-8 col-form-label">Part Number</label>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <TelerikTextBox @bind-Value="@AddParts.PartNumber" Class="form-control"></TelerikTextBox>
                            <ValidationMessage For="@(() => AddParts.PartNumber)"></ValidationMessage>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group row">
                    <div class="row">
                        <label for="SerialNumber" class="col-sm-8 col-form-label">Serial Number (optional)</label>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <TelerikTextBox @bind-Value="@AddParts.SerialNumber" Class="form-control"></TelerikTextBox>
                            <ValidationMessage For="@(() => AddParts.SerialNumber)"></ValidationMessage>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group row">
                    <div class="row">
                        <label for="GLCodeId" class="col-sm-8 col-form-label">GL Code</label>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                             <TelerikDropDownList Data="@dataGLCodeDropdown" class="col-sm-11" TextField="DropText" ValueField="DropValue"
                             @bind-Value="@AddParts.GLCodeId" DefaultText="GL Code">
                            </TelerikDropDownList>
                            <ValidationMessage For="@(() => AddParts.GLCodeId)"></ValidationMessage>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">

            <div class="col-md-3">
                <div class="form-group row">
                    <div class="row">
                        <label for="RepairDescription" class="col-sm-8 col-form-label">Repair Description</label>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                             <textarea @bind-value="AddParts.RepairDescription" class="form-control" rows="3" @bind-value:event="oninput"></textarea>
                            <ValidationMessage For="@(() => AddParts.RepairDescription)"></ValidationMessage>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group row">
                    <div class="row">
                        <label for="FailureCodeId" class="col-sm-8 col-form-label">Failure Code</label>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                             <TelerikDropDownList Data="@dataFailureCodesDropdown" class="col-sm-11" TextField="DropText" ValueField="DropValue"
                             @bind-Value="@AddParts.FailureCodeId" DefaultText="Failure Code">
                            </TelerikDropDownList>
                            <ValidationMessage For="@(() => AddParts.FailureCodeId)"></ValidationMessage>
                        </div>
                    </div>
                </div>
            </div>

             <div class="col-md-1">
                <div class="form-group row">
                    <div class="row">
                        <label class="col-sm-8 col-form-label"><br/></label>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <TelerikButton Class="SaveButton" Icon="add" OnClick="(()=> btnAddPartOnClick())"></TelerikButton>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </EditForm>
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-12">
        <TelerikGrid Data="@MyData"
         Pageable="true" Sortable="true"
         Resizable="true">
            <GridColumns>
                <GridColumn Field="@(nameof(Models.Parts.PartNumber))" Title="Part Number" Groupable="false" Width="80px"/>
                <GridColumn Field="@(nameof(Models.Parts.SerialNumber))" Title="Serial Number" Groupable="false" Width="200px"/>
                <GridColumn Field="@(nameof(Models.Parts.Description))" Title="Description" Groupable="false" Width="140px"/>
                <GridColumn Field="@(nameof(Models.Parts.GLCode))" Title="GL Code" Groupable="false" Width="100px"/>
               <GridColumn Field=@nameof(Models.Parts.PartStatus) Title="Status" Width="60px">
                    <Template>
                        @{
                            var partStatus = context as Models.Parts;
                            var oldPartStatusId = partStatus.PartStatusId;
                            <TelerikDropDownList @bind-Value="@partStatus.PartStatusId" Width="100%"
                                                 Data="@dataPartStatusDropdown"
                                                 ValueField="DropValue"
                                                 TextField="DropText"
                                                 Class="form-control"
                                                 OnChange="@(() => OnPartStatusesChangeHandler(partStatus,oldPartStatusId))">
                            </TelerikDropDownList>
                        }
                    </Template>
              </GridColumn>
            </GridColumns>
        </TelerikGrid>
    </div>
</div>
}
@code {

    List<Entities.Repair> GridData { get; set; }

    List<Models.DropDownBind> dataGLCodeDropdown { get; set; }

    List<Models.DropDownBind> dataPartStatusDropdown { get; set; }

    List<Models.DropDownBind> dataFailureCodesDropdown { get; set; }

    AddPartModel AddParts { get; set; }

    EditContext ECAddPart { get; set; }

    List<Models.Parts> MyData { get; set; }

    Models.RepairModel dataRepairModel { get; set; }

    string SerialNumber { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetRepairGridData();
        base.OnInitialized();
    }

    public async Task SelectRecord(Entities.Repair repair)
    {
        if (repair != null)
        {
             SerialNumber = repair.PartSerialNumber;
             await btnFindOnClick();
        }
        else
        {
            AddParts = new AddPartModel();
        }

        if (AddParts != null)
        {
            ECAddPart = new EditContext(AddParts);
        }
        await GetDropDownData();
        StateHasChanged();
    }

    async Task btnFindOnClick()
    {
        if (string.IsNullOrEmpty(SerialNumber))
        {
            toastService.ShowError("Please Enter Serial Number", "Error");
            return;
        }

        dataRepairModel = await RepairService.GetDataBySerialNumber(SerialNumber.Trim());

        if (dataRepairModel == null)
        {
            toastService.ShowError("No Record Found ! Please Enter Valid Serial Number", "Error");
            AddParts.SelectedPartId = 0;
        }

        if(dataRepairModel != null)
        {
            AddParts = new AddPartModel();
            ECAddPart = new EditContext(AddParts);
            AddParts.SelectedPartId = dataRepairModel.PartId;
            StateHasChanged();
        }

        await GetGridData();
    }

    async Task GetRepairGridData()
    {
        GridData = await RepairService.ReadRepairs();
        StateHasChanged();
    }

    async Task GetGridData()
    {
        if (dataRepairModel != null && dataRepairModel.PartId > 0)
        {
            MyData = await PartService.GetParentPartByPart(dataRepairModel.PartId);
        }
        else
        {
            MyData = null;
        }
        StateHasChanged();
    }

    async Task GetDropDownData()
    {
        dataGLCodeDropdown =  GLCodeService.DropDownData();
        dataPartStatusDropdown = PartStatusService.DropDownData();
        dataFailureCodesDropdown = FailureCodeService.DropDownData();
    }

    async Task btnHistoryGridEyeOnClick(Models.Parts parts)
    {
        if (parts != null)
        {
            SerialNumber = parts.SerialNumber;
            await btnFindOnClick();
        }
    }

    async Task btnAddPartOnClick()
    {
        var IsValid = ECAddPart.Validate();
        if(!IsValid)
        {
            return;
        }

        if (string.IsNullOrEmpty(SerialNumber))
        {
            toastService.ShowError("Please Enter Serial Number", "Error");
            return;
        }

        if (dataRepairModel == null || dataRepairModel.PartId == 0)
        {
            toastService.ShowError("Please Select Part", "Error");
            return;
        }

        if (AddParts != null)
        {
            AddParts.SelectedPartId = dataRepairModel.PartId;
            if(string.IsNullOrWhiteSpace(AddParts.PartNumber))
            {
                toastService.ShowError("Please Enter Part Number", "Error");
                return;
            }

            if (await PartService.AddPart(AddParts))
            {
                toastService.ShowInfo("Record Saved Successfully", "Info");
                await btnFindOnClick();
            }
            else
            {
                toastService.ShowError("Record Not Saved ! Something Worng", "Error");
            }
        }
    }

    public async Task OnPartStatusesChangeHandler(Models.Parts parts,int oldPartStatusId)
    {
        if (parts != null && parts.PartId > 0 && parts.PartStatusId != oldPartStatusId)
        {
            if (await PartService.UpdatePartStatus(parts))
            {
                toastService.ShowInfo("Part Status Updated Successfully", "Info");
                await GetGridData();
            }
            else
            {
                toastService.ShowError("Record Not Updated ! Something Worng", "Error");
            }
        }
    }

    public async Task DeleteRecord(Entities.Repair item)
    {
        if (item != null)
        {
            await RepairService.Delete(item);
            await GetRepairGridData();
        }
     }
}
